{% extends "base.twig" %}

{% block title %}Alle Texte{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="py-5">Alle Texte</h1>

        <div class="row">
            <div class="col-12 pb-5 text-right">
                <a href="/text/new" class="btn btn-primary">Neuer Text</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table" id="text-list">
                    <thead>
                        <tr>
                            <th>Favorit</th>
                            <th>Titel</th>
                            <th>Sprache</th>
                            <th>Datum</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for text in texts %}
                            <tr>
                                <td data-sort="{{ text.favorite }}">
                                    <span
                                        data-target="toggle-star"
                                        data-id="{{ text.id }}"
                                        class="star {% if text.favorite == 0 %}unstarred{% else %}starred{% endif %}">
                                        <span class="oi oi-star"></span>
                                    </span>
                                </td>
                                <td>{{ text.title }}</td>
                                <td>{{ text.language_title }}</td>
                                <td>{{ text.created }}</td>
                                <td class="text-sm-right">
                                    <a href="/study/{{ text.id }}" class="btn btn-primary btn-sm">
                                        <span class="oi oi-media-play"></span>
                                    </a>

                                    <a href="/text/edit/{{ text.id }}" class="btn btn-secondary btn-sm">
                                        <span class="oi oi-pencil"></span>
                                    </a>

                                    <a href="/text/delete/{{ text.id }}" class="btn btn-danger btn-sm">
                                        <span class="oi oi-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(HomePage.init)
    </script>
{% endblock %}
